name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Run All Tests
      id: run-all-tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Run All Tests
        setup-command: bash tests/test.sh
        command: bash tests/test.sh
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        RUN-ALL-TESTS_RESULTS: "${{steps.run-all-tests.outputs.result}}"
      with:
        runners: run-all-tests
